node_modules/
.DS_Store
.env
assets/videos/DEMO REEL FOR WEBSITE.mov
assets/videos/DEMO REEL FOR WEBSITE.zip
assets/videos/Demo.mov
assets/videos/Updated Reel Landscape.mov
assets/videos/Updated Reel Potrait.mov
assets/videos/Updated Reel for Website 1.mov
assets/videos/q.mov
